.table th {
    background-color: #f8f9fa;
}

.badge-success {
    background-color: #d4edda;
    color: #155724;
    padding: 2px 10px 5px 10px;
    border-radius: 10px;
}

.badge-danger {
    background-color: #f8d7da;
    color: #721c24;
    padding: 2px 10px 5px 10px;
    border-radius: 10px;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.error-text {
    color: red;
    font-size: 12px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* display: none;  */
    align-items: center;
    justify-content: center;
}

.modal-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 450px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}